@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,500;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #895f40
}

.logo {
    height: 100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.container {
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    box-shadow: 1px 1px 30px #3d281a;
}

.nav-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    gap: 20px;
}

.nav-link {
    color: rgba(137, 95, 64, 1);
    background-color: white;
}

.nav-link:hover {
    background-color: rgba(137, 95, 64, 1);
    color: white;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 5rem;
}

.background {
    width:450px;
    height: auto;
    border-radius: 250px;
}

.hero_text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero_text h1 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.hero_text p {
    max-width: 900px;
}

.btn {
    border: 3px solid #3d281a;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

.btn:hover {
    color: white;
    background-color: #3d281a;
}


.btn-1 {
    margin: 0 auto;
    max-width: 500px;
    background-color: red;
}


.btn-2 {
    background-color: orange;
    max-width: 500px;
    margin: 0 auto;
}


.btn-3 {
    background-color: blue;
    max-width: 500px;
    margin: 0 auto;
}

.hero5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 5rem;
}

.second-background {
    width:400px;
    height: auto;
    border-radius: 100px;
}

.hero_text_second {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero_text_second h2 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.hero_text_second p {
    max-width: 900px;
}





.fin {
    color: whitesmoke;
    display: flex;
    justify-content: center;
}