@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #895f40
}

.logo {
    border-radius: 100px;
    height: 18vh;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 22vh;


}

.nav-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 25px;
}

.nav-link {
    color: rgba(137, 95, 64, 1);

}

.hero {
    display: flex;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    /* height: 50vh; */
    /* gap: 50px; */
}
.hero-text {
    /* display: flex; */
    color: white;
    margin: 50px;
    /* border: 2px solid red; */
}
.hero-title {
    padding-left: 90px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;

}

.text-btn {
    /* border: 2px solid black; */
    padding: 50px;
    /* border-radius: 10px; */
    /* font-weight: 600; */
    display: flex;
    gap: 20px;
    justify-content: center;
}
.btn-link {
    display: flex;
    flex-direction: center;
    /* align-items: center; */
    padding: 10px;
    border-radius: 10px;
    width: 190px;
    height: 50px;
    background-color:#3d281a;
    text-decoration: none;
    /* text-align: center; */
    color:white;
    justify-content: center;
}
.btn-link-1 {
    display: flex;
    flex-direction: center;
    /* align-items: center; */
    justify-content:center;
    padding: 10px;
    border-radius: 10px;
    width: 190px;
    height: 50px;
    background-color:#3d281a;
    text-decoration: none;
    /* text-align: center; */
    color:white
}
.bg {
   display: flex;
   width: 98.8vh; 
}
.text-us {
    display: flex;
    color: white;
    width: 100vh;
    height: 50vh;
    flex-direction: center;
}
.fin {
    color: whitesmoke;
    display: flex;
    justify-content: center;
}